.app__error_wrapper {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-image: url('https://i.imgur.com/hFYhyxB.png');
}

.app__error_title {
  text-align: center;
  color: #f7e407;
  margin-bottom: 40px;
}

.app__error_button {
  background-color: transparent;
  font-size: 24px;
  color: #fff;
  outline: none;
  border: none;
  transition: scale 0.3s ease-in-out;
}

.app__error_button:focus-visible,
.app__error_button:focus {
  outline: none;
}

.app__error_button:hover {
  scale: 1.1;
}
