.content__wrapper {
  display: flex;
  justify-content: center;
  background-color: #000;
  background-image: url(https://i.imgur.com/hFYhyxB.png);
  padding: 60px 0;
}

.planets__list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}
