.modal {
  position: fixed;
  bottom: 40px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 25%;
  padding: 12px 20px;
  background: black;
  color: #fff;
  z-index: 100;
}
