.headline__wrapper {
  display: flex;
  height: 100dvh;
  padding: 20px;
  width: calc(100dvw - 17px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.headline__title {
  margin-bottom: 40px;
  line-height: 1.1;
  max-width: 800px;
  text-align: center;
  color: #f7e407;
  font-size: 72px;
}

.headline__text {
  width: 100%;
  max-width: 1041px;
  font-size: 20px;
  line-height: 166.103%;
  text-align: center;
  background: black;
  border-radius: 12px;
  color: #fff;
}

.headline__form {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.19);
  backdrop-filter: blur(53.04999923706055px);
  width: 100%;
  max-width: 1040px;
  flex-shrink: 0;
  border-radius: 26.286px;
}

.headline__form input {
  font-family: var(--font-family);
  width: 90%;
  padding: 16px 32px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
  border: none;
  outline: none;
}

.headline__form-button {
  display: flex;
  border: none;
  outline: none;
  border-radius: 50%;
  padding: 12px;
  transition: outline 0.3s ease-in-out;
}

@media (any-hover: hover) {
  .headline__form-button:hover svg {
    transition: translateX 0.3s ease-in-out;
  }

  .headline__form-button:hover svg {
    transform: translateX(12px);
    animation: slideRight 2.5s infinite ease;
  }
}

@media (max-width: 850px) {
  .headline__title {
    font-size: 54px;
  }
}

@media (max-width: 700px) {
  .headline__wrapper {
    width: 100dvw;
  }
  .headline__title {
    font-size: 48px;
  }

  .headline__text {
    font-size: 16px;
  }

  .headline__form input {
    font-size: 16px;
  }
}

@media (max-width: 540px) {
  .headline__title {
    font-size: 36px;
    margin-bottom: 0;
  }
  .headline__text {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .headline__title {
    font-size: 32px;
  }
  .headline__text {
    font-size: 12px;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(12px);
  }
  100% {
    transform: translateX(0);
  }
}
